
/* コメントアウト */


@charset "utf-8";


/* 全体背景　空イメージ */
body {
    font-family:  "ヒラギノ丸ゴ Pro";     /* 文字書式 */
    background: url("images/background.jpg");     /* 背景表示　空イメージ */
    background-size: cover;      /* 画面全体表示 */
    text-align: center;     /* 中央揃え */
}


/* 燃えろ！ */
.title{
    padding: 30px 0;     /* 内側の余白 */ /* 上下100px、左右0 */
    margin: 50px;     /* 外側の余白 */
    border-radius: 10px;     /* 角丸 */
}

.title h1{
    text-align: center;     /* 中央揃え */
    color : #FFFF99;     /* フォントカラー */
    font-size: 50px;     /* 文字の大きさ */
    font-weight: bold;     /* 文字の太さ */
}

.title p{
    text-align: right;     /* 中央揃え */
    color : rgb(0, 0, 0);     /* フォントカラー */
    font-size: 20px;     /* 文字の大きさ */
    font-weight: bold;     /* 文字の太さ */
    padding: 0 50px;
}

/* 今日の「やる気が出る言葉」 */
.random{
    height: auto;     /* 高さ自動調整 */
    padding: 30px;     /* 内側の余白 */
    margin: 50px;    /* 外側の余白 */
    border-radius: 10px;     /* 角丸 */
    background: url("images/blackboard.jpg");     /* 背景表示　黒板イメージ */
    background-size: cover;      /* 画面全体表示 */

 
}

.random h1{
    text-align: center;     /* 中央揃え */
    color : white;     /* フォントカラー */
    font-size: 30px;     /* 文字の大きさ */
    font-weight: bold;     /* 文字の太さ */
    letter-spacing : 5px;     /* 文字の間隔 */
    text-decoration: underline;     /* 文字の下線 */
}

#result{
    text-align: center;     /* 中央揃え */
    color : white;     /* フォントカラー */
    font-size: 50px;     /* 文字の大きさ */
    font-weight: bold;     /* 文字の太さ */
    letter-spacing : 5px;     /* 文字の間隔 */
}

#random_btn{     /* buttonタグはインライン要素。 */
    display: block;     /* インライン要素をブロック要素に変換 */
	margin: auto;     /* 中央配置 */
    padding: 5px;
    background: orange;
    border-radius: 10px;     /* 角丸 */
    font-size: 20px;
    letter-spacing : 5px;     /* 文字の間隔 */
    color : white;     /* フォントカラー */
    font-family:  "ヒラギノ丸ゴ Pro";     /* 文字書式 */
    cursor: pointer;    /* ボタンの上だけカーソル変わる */
}

/* マウスを重ねたときのスタイルを設定する　hover擬似クラス */
#random_btn:hover {
    color : black;
}

/* ボタンが押されたときのスタイルを設定する　active擬似クラス */
#random_btn:active {
    opacity: 0.5;    /* 色薄くする */
}

/* 名言集 */
.list{
    height: auto;     /* 高さ自動調整 */
    padding: 30px;     /* 内側の余白 */
    margin: 50px;     /* 外側の余白 */
    border-radius: 5px;     /* 角丸 */
    background: url("images/schoolyard.jpg");     /* 背景表示　校庭イメージ */
    background-size: cover;      /* 画面全体表示 */
}

.list h1{
    /* 文字 */
    text-align: center;     /* 中央揃え */
    color : black;     /* フォントカラー */
    font-size: 30px;     /* 文字の大きさ */
    font-weight: bold;     /* 文字の太さ */
    letter-spacing : 20px;     /* 文字の間隔 */
    text-decoration: underline;     /* 文字の下線 */
}

table {
    background-color: rgba(242, 241, 230, 0.401);
}

